# Default values for vSphere CPI.
# This is a YAML-formatted file.
# vSphere CPI values are grouped by component

global:
  config:
    enabled: false

config:
  enabled: false
  name: vsphere-cloud-config
  vcenter: "vcenter.local"
  username: "user"
  password: "pass"
  datacenter: "dc"
  region: "k8s-region"
  zone: "k8s-zone"
  tlsThumbprint: ""

  secret:
    # Specifies whether Secret should be created from config values
    create: true
    # The name of the Secret referred to in the vsphere-cloud-config ConfigMap
    # If your Kubernetes platform provides this secret, set create to false and adjust the secret name
    name: vsphere-cloud-secret

## Specify if a Pod Security Policy for kube-state-metrics must be created
## Ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/
podSecurityPolicy:
  enabled: false
  annotations: {}
    # Specify pod annotations
    # Ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#apparmor
    # Ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#seccomp
    # Ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#sysctl
    #
    # seccomp.security.alpha.kubernetes.io/allowedProfileNames: '*'
    # seccomp.security.alpha.kubernetes.io/defaultProfileName: 'docker/default'
    # apparmor.security.beta.kubernetes.io/defaultProfileName: 'runtime/default'

# Run containers to have security context. Default is 'nobody' (65534/65534) in distroless
securityContext:
  enabled: true
  runAsUser: 1001
  fsGroup: 1001

# RBAC configuration
rbac:
  # Specifies whether RBAC resources should be created
  create: true

serviceAccount:
  # Specifies whether a ServiceAccount should be created
  create: true
  # The name of the ServiceAccount to use.
  name: cloud-controller-manager

# Daemonset configuration
daemonset:
  annotations: {}
  image: gcr.io/cloud-provider-vsphere/cpi/release/manager
  tag: v1.26.1
  pullPolicy: IfNotPresent
  dnsPolicy: ClusterFirst
  cmdline:
    logging: 2
    # Location of the cloud configmap to be mounted on the filesystem
    cloudConfig:
      dir: "/etc/cloud"
      file: "vsphere.conf"
    additionalParams: {}
  replicaCount: 1
  resources: {}
    # limits:
    #   cpu: 500m
    #   memory: 512Mi
    # requests:
    #    cpu: 256m
    #    memory: 128Mi
  podAnnotations: {}
  ## Additional pod labels
  ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
  podLabels: {}
  ## Allows for the default tolerations to be replaced with user-defined ones
  tolerations: []
