{{- if .Values.config.enabled | default .Values.global.config.enabled -}}
apiVersion: v1
kind: Secret
metadata:
  name: vsphere-cloud-secret
  labels:
    app: {{ template "cpi.name" . }}
    vsphere-cpi-infra: secret
    component: cloud-controller-manager
  namespace: {{ .Release.Namespace }}
stringData:
  {{ .Values.config.vcenter | default .Values.global.config.vcenter }}.username: {{ .Values.config.username | default .Values.global.config.username }}
  {{ .Values.config.vcenter | default .Values.global.config.vcenter }}.password: {{ .Values.config.password | default .Values.global.config.password }}
{{- end -}}
